<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.sessionlogin.member.dao.MemberMapper">
    
    <resultMap id="memberResultMap" type="com.ohgiraffers.sessionlogin.member.dto.MemberDTO">
        <id property="no" column="MEMBER_NO"/>
        <result property="id" column="MEMBER_ID"/>
        <result property="pwd" column="MEMBER_PWD"/>
        <result property="tempPwdYn" column="TEMP_PWD_YN"/>
        <result property="pwdChangeDatetime" column="PWD_CHANGED_DATETIME"/>
        <result property="pwdExpDate" column="PWD_EXP_DATE"/>
        <result property="name" column="MEMBER_NAME"/>
        <result property="registDatetime" column="MEMBER_REGIST_DATETIME"/>
        <collection property="memberRoleList" resultMap="memberRoleResultMap"/>
       
    </resultMap>

    <resultMap id="memberRoleResultMap" type="com.ohgiraffers.sessionlogin.member.dto.MemberRoleDTO">
        <id property="memberNo" column="REF_MEMBER_NO"/>
        <id property="authorityCode" column="REF_AUTHORITY_CODE"/>
        <association property="authority" resultMap="authorityResultMap"/> 


    </resultMap>


  <resultMap id="authorityResultMap" type="com.ohgiraffers.sessionlogin.member.dto.AuthorityDTO">
      <id property="code" column="REF_AUTHORITY_CODE2"/>
      <result property="name" column="AUTHORITY_NAME"/>
      <result property="desc" column="AUTHORITY_DESC"/>
  </resultMap>

   <select id="findMemberById" resultMap="memberResultMap">

       SELECT
       A.MEMBER_NO
            , A.MEMBER_ID
            , A.MEMBER_PWD
            , A.TEMP_PWD_YN
            , A.PWD_CHANGED_DATETIME
            , A.PWD_EXP_DATE
            ,A.MEMBER_NAME
            ,A.MEMBER_REGIST_DATETIME
            , B.MEMBER_NO  REF_MEMBER_NO
            , B.AUTHORITY_CODE REF_AUTHORITY_CODE
            , C.AUTHORITY_CODE  REF_AUTHORITY_CODE
            , C.AUTHORITY_NAME
            , C.AUTHORITY_DESC
       FROM TBL_MEMBER A
       LEFT JOIN TBL_MEMBER_ROLE B on(A.MEMBER_NO = B.MEMBER_NO)
       LEFT JOIN TBL_AUTHORITY C ON(B.AUTHORITY_CODE = C.AUTHORITY_CODE)
       WHERE A.MEMBER_ID = #{admin}
   </select>
</mapper>